<div>
    <br />
    <feedback type=typeMessage message=message></feedback>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="col-md-10 col-md-offset-1">
        <h1>
            User
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-cog"></i> Users</li>
            <li class="breadcrumb-item active"><a href="/#/main/users/list"> List Users</a></li>
            <li ng-if="type == -1" class="breadcrumb-item active"> Create </li>
            <li ng-if="type != -1" class="breadcrumb-item active"> Update</li>
        </ol>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-10 col-md-offset-1">
                <!-- general form elements -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Form</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form name="form" role="form" ng-submit="sendRequest(request, form)" novalidate>
                        <div class="box-body">
                            <div class="form-group">
                                <label>User Type</label>
                                <select class="form-control select2" name="UserType" style="width: 100%;" ng-model="request.UserTypeId" ng-required="true">
                                    <option selected disabled value="">Select</option>
                                    <option ng-repeat="userType in userTypes" value="{{userType.UserTypeId}}">{{userType.Type}}</option>
                                </select>
                                <div ng-if="form.UserType.$touched || form.$submitted">
                                    <div ng-messages="form.UserType.$error" role="alert">
                                        <div class="help-block error-text" ng-message="required">* User Type is required.</div>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="(userTypes[0].Type == 'Local' && userTypes[0].UserTypeId == request.UserTypeId) ||
                                        (userTypes[1].Type == 'Local' && userTypes[1].UserTypeId == request.UserTypeId)">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="Name" placeholder="Enter name" ng-model="request.Name" ng-required="true">
                                    <div ng-if="form.Name.$touched || form.$submitted">
                                        <div ng-messages="form.Name.$error" role="alert">
                                            <div class="help-block error-text" ng-message="required">* Name is required.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" name="Username" placeholder="Enter username" ng-model="request.Username" ng-required="true">
                                    <div ng-if="form.Username.$touched || form.$submitted">
                                        <div ng-messages="form.Username.$error" role="alert">
                                            <div class="help-block error-text" ng-message="required">* Username is required.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="Email" placeholder="Enter email" ng-model="request.Email" ng-required="true">
                                    <div ng-if="form.Email.$touched || form.$submitted">
                                        <div ng-messages="form.Email.$error" role="alert">
                                            <div class="help-block error-text" ng-message="required">* Email is required.</div>
                                            <div class="help-block error-text" ng-message="email">* Is not a valid email.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="Password" placeholder="Enter password" ng-model="request.Password" ng-required="true">
                                    <div ng-if="form.Password.$touched || form.$submitted">
                                        <div ng-messages="form.Password.$error" role="alert">
                                            <div class="help-block error-text" ng-message="required">* Password is required.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div ng-if="(userTypes[0].Type == 'Active Directory' && userTypes[0].UserTypeId == request.UserTypeId) ||
                                        (userTypes[1].Type == 'Active Directory' && userTypes[1].UserTypeId == request.UserTypeId)">
                                ASDFSDF
                            </div>

                            <div class="form-group">
                                <label>Resources</label><br />
                                <div ng-repeat="resource in resources">
                                    <input type="checkbox" name="Permissions" value="resource.ResourceId" ng-model="request.Permissions[resource.ResourceId]" ng-required="!someSelected(request.Permissions)"> {{resource.Name}}<br />
                                </div>
                                <div ng-if="form.Permissions.$invalid">
                                    <div ng-messages="form.Permissions.$error" role="alert">
                                        <div class="help-block error-text" ng-message="required">* Permissions are required.</div>
                                    </div>
                                </div>
                            </div>

                            <!--
                            <div class="form-group">
                                <label for="DBIP">Database IP</label>
                                <input type="text" class="form-control" id="DBIP" name="DBIP" placeholder="Enter IP" ng-model="request.Ip" ng-pattern="regexIP" ng-required="true">
                                <div ng-if="form.DBIP.$touched || form.$submitted">
                                    <div ng-messages="form.DBIP.$error" role="alert">
                                        <div class="help-block error-text" ng-message="required">* IP is required.</div>
                                        <div class="help-block error-text" ng-message="pattern">* Is not a valid IP.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="DBPort">Database Port</label>
                                <input type="text" class="form-control" id="DBPort" name="DBPort" placeholder="Enter Port" ng-model="request.Port" ng-pattern="regexPort">
                                <div ng-if="form.DBPort.$touched || form.$submitted">
                                    <div ng-messages="form.DBPort.$error" role="alert">
                                        <div class="help-block error-text" ng-message="pattern">* Is not a valid port.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="DBInstance">Database Instance</label>
                                <input type="text" class="form-control" id="DBInstance" name="DBInstance" placeholder="Enter Instance" ng-model="request.Instance">
                            </div>
                            <div class="form-group">
                                <label for="DBName">Database Name</label>
                                <input type="text" class="form-control" id="DBName" name="DBName" placeholder="Enter Name" ng-model="request.Name" ng-required="true">
                                <div ng-if="form.DBName.$touched || form.$submitted">
                                    <div ng-messages="form.DBName.$error" role="alert">
                                        <div class="help-block error-text" ng-message="required">* Database name is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Username">Usename</label>
                                <input type="text" class="form-control" id="Username" name="Username" placeholder="Enter Username" ng-model="request.Username" ng-required="true">
                                <div ng-if="form.Username.$touched || form.$submitted">
                                    <div ng-messages="form.Username.$error" role="alert">
                                        <div class="help-block error-text" ng-message="required">* Username is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Password">Password</label>
                                <input type="password" class="form-control" id="Password" name="Password" placeholder="Enter Password" ng-model="request.Password" ng-required="true">
                                <div ng-if="form.Password.$touched || form.$submitted">
                                    <div ng-messages="form.Password.$error" role="alert">
                                        <div class="help-block error-text" ng-message="required">* Password is required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                        <!-- /.box-body -->

                        <div class="box-footer" ng-controller="AlertController">
                            <button type="button" class="btn btn-primary" sweetalert sweet-options="{{sweet.option}}" sweet-on-confirm="$parent.form.$submitted = true; sendRequest(request, form)" sweet-on-cancel="return">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>