<div>
    <br />
    <feedback type=typeMessage message=message></feedback>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="col-md-10 col-md-offset-1">
        <h1>
            Configuration Active Directory
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-cog"></i> Configuration</li>
            <li class="breadcrumb-item active"><a href="/#/main/configuration/listActiveDirectories"> List Active Directories</a></li>
            <li ng-if="type == -1" class="breadcrumb-item active"> Create </li>
            <li ng-if="type != -1" class="breadcrumb-item active"> Update</li>
        </ol>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
        <!-- left column -->
        <div class="col-md-10 col-md-offset-1">
            <!-- general form elements -->
            <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Form</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form name="form" role="form" ng-submit="sendRequest(request, form)" novalidate>
                <div class="box-body">
                <div class="form-group">
                    <label for="ADPath">Active Directory Path</label>
                    <input ng-model="request.ADPath" type="text" class="form-control" id="ADPath" name="ADPath" placeholder="Enter path" ng-required="true">
                    <div ng-if="form.ADPath.$touched || form.$submitted">
                        <div ng-messages="form.ADPath.$error" role="alert">
                            <div class="help-block error-text" ng-message="required">* Path is required.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ADDomain">Active Directory Domain</label>
                    <input ng-model="request.ADDomain" type="text" class="form-control" id="ADDomain" name="ADDomain" placeholder="Enter Domain" ng-required="true">
                    <div ng-if="form.ADDomain.$touched || form.$submitted">
                        <div ng-messages="form.ADDomain.$error" role="alert">
                            <div class="help-block error-text" ng-message="required">* Domain is required.</div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- /.box-body -->

              <div class="box-footer" ng-controller="AlertController">
                <button type="button" class="btn btn-primary" sweetalert sweet-options="{{sweet.option}}" sweet-on-confirm="$parent.form.$submitted = true; sendRequest(request, form)" sweet-on-cancel="return">Submit</button>
              </div>
            </form>
            </div>
            <!-- /.box -->
        </div>
        </div>
    </section>
    <!-- /.content -->
</div>