<div>
    <br />
    <feedback type=typeMessage message=message></feedback>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="col-md-10 col-md-offset-1">
        <h1>
            List Servers SMTP
        </h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Configuration</a></li>
            <li class="active">List Servers SMTP</li>
        </ol>
        </div>
    </section>  
    
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">


          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Servers SMTP</h3>
              <a href="/#/Configuration/formServerSMTP" class="pull-right btn btn-xs btn-success">Add</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name Server</th>
                  <th>Port</th>
                  <th>Username</th>
                  <th>Password</th>
                  <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="serverSMTP in listServersSMTP">
                  <td>{{serverSMTP.NameServerSMTP}}</td>
                  <td>{{serverSMTP.Port}}</td>
                  <td>{{serverSMTP.UsernameSMTP}}</td>
                  <td>{{serverSMTP.PasswordSMTP}}</td>
                  <td><span class="label label-success">Edit</span><span> </span><span class="label label-danger">Delete</span></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Name Server</th>
                  <th>Port</th>
                  <th>Username</th>
                  <th>Password</th>
                  <th>Options</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>




