<div>
    <br />
    <feedback type=typeMessage message=message></feedback>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="col-md-10 col-md-offset-1">
        <h1>
            List Headers
        </h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Configuration</a></li>
            <li class="active">List Headers</li>
        </ol>
        </div>
    </section>
    
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">


          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Headers</h3>
                <a href="/#/Configuration/formHeaders/-1" class="pull-right btn btn-xs btn-success">Add</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table id="datatable" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="header in listHeaders">
                    <td>{{header.Name}}</td>
                    <td><span ng-repeat="type in header.HeadersQueryTypes">{{type.QueriesType.Name}}</span></td>
                    <td>
                        <div ng-controller="AlertController">
                            <button class="btn btn-xs btn-success" ng-click="editHeader(header.HeaderId)">Edit</button>
                            <button class="btn btn-xs btn-danger" sweetalert sweet-options="{{sweet.option}}" sweet-on-confirm="deleteHeader(header.HeaderId)" sweet-on-cancel="return">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Options</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>