<div>
    <br />
    <feedback type=typeMessage message=message></feedback>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="col-md-12">
        <h1>
            List Manual Integrations
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-cog"></i> Integrations</li>
            <li class="breadcrumb-item active"> List Manual Integrations</li>
        </ol>
        </div>
    </section>
    
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Manual Integrations</h3>
              <a href="/#/Integration/configuration/-1" class="pull-right btn btn-xs btn-success">Add Integration</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table id="datatable" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Type</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Web Service</th>
                  <th>Operation Web Service</th>
                  <th>Database</th>
                  <th>Path Flat File</th>
                  <th>Curl Parameters</th>
                  <th>Query</th>
                  <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="integration in manualIntegrations">
                    <td>{{integration.IntegrationsType.Name}}</td>
                    <td>{{integration.IntegrationName}}</td>
                    <td>{{integration.IntegrationCategory.Name}}</td>
                    <td>{{integration.WebService.Endpoint}}</td>
                    <td>{{integration.OperationsWebService.Name}}</td>
                    <td>
                        NAME<{{integration.DatabaseParameter.Name}}> 
                        IP<{{integration.DatabaseParameter.Ip}}> 
                        PORT<{{integration.DatabaseParameter.Port}}> 
                        INSTANCE<{{integration.DatabaseParameter.Instance}}></td>
                    <td>{{integration.FlatFilesParameter.Location}}/{{integration.FlatFile.Name}}</td>
                    <td>{{integration.CurlParameters}}</td>
                    <td>{{integration.Query.Query1}}</td>
                    <td>
                        <div ng-controller="AlertController">
                            <button class="btn btn-xs btn-success" ng-click="editManualIntegration(integration.IntegrationId);">Re-Use</button> 
                            <button class="btn btn-xs btn-danger" sweetalert sweet-options="{{sweet.option}}" sweet-on-confirm="executeIntegration(integration.IntegrationId)" sweet-on-cancel="return">Execute</button>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Type</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Web Service</th>
                  <th>Operation Web Service</th>
                  <th>Database</th>
                  <th>Path Flat File</th>
                  <th>Curl Parameters</th>
                  <th>Query</th>
                  <th>Options</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>