<div>
    <br />
    <feedback type=typeMessage message=message></feedback>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="col-md-12">
        <h1>
            Integration Manual
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-cog"></i> Integrations</li>
            <li class="breadcrumb-item active"> Manual</li>
        </ol>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Form</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form name="form" role="form" ng-submit="sendRequest(request, form)" novalidate>
                        <div class="box-body">
                            <div class="form-group">
                                <label>Integration Type</label>
                                <select class="form-control select" name="IntegrationTypeId" style="width: 100%;" ng-model="request.IntegrationTypeId" ng-change="getQueries(request.IntegrationTypeId)" ng-required="true">
                                    <option selected disabled value="">Select</option>
                                    <option ng-repeat="integrationType in integrationsType" value="{{integrationType.IntegrationTypeId}}">{{integrationType.Name}}</option>
                                </select>
                                <div ng-if="form.IntegrationTypeId.$touched || form.$submitted">
                                    <div ng-messages="form.IntegrationTypeId.$error" role="alert">
                                        <div class="help-block error-text" ng-message="required">* Integration type is required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Web Service</label>
                                <select class="form-control select" name="WebServiceId" style="width: 100%;" ng-model="request.WebServiceId" ng-required="true">
                                    <option selected disabled value="">Select</option>
                                    <option ng-repeat="webService in webServices" value="{{webService.WebServiceId}}">{{webService.Endpoint}}</option>
                                </select>
                                <div ng-if="form.WebServiceId.$touched || form.$submitted">
                                    <div ng-messages="form.WebServiceId.$error" role="alert">
                                        <div class="help-block error-text" ng-message="required">* Web service is required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Operation Web Service</label>
                                <select class="form-control select" name="OperationWebServiceId" style="width: 100%;" ng-model="request.OperationWebServiceId" ng-required="true">
                                    <option selected disabled value="">Select</option>
                                    <option ng-repeat="operation in operationsWebServices" value="{{operation.OperationWebServiceId}}">{{operation.Name}}</option>
                                </select>
                                <div ng-if="form.OperationWebServiceId.$touched || form.$submitted">
                                    <div ng-messages="form.OperationWebServiceId.$error" role="alert">
                                        <div class="help-block error-text" ng-message="required">* Operation is required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Database</label>
                                <select class="form-control select" name="DatabaseParametersId" style="width: 100%;" ng-model="request.DatabaseParametersId" ng-required="true">
                                    <option selected disabled value="">Select</option>
                                    <option ng-repeat="database in databases" value="{{database.DatabaseParametersId}}">{{database.Ip}}:{{database.Port}}/{{database.Instance}}</option>
                                </select>
                                <div ng-if="form.DatabaseParametersId.$touched || form.$submitted">
                                    <div ng-messages="form.DatabaseParametersId.$error" role="alert">
                                        <div class="help-block error-text" ng-message="required">* Database is required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Flat File</label>
                                <select class="form-control select" name="FlatFileParameterId" style="width: 100%;" ng-model="request.FlatFileParameterId" ng-required="true">
                                    <option selected disabled value="">Select</option>
                                    <option ng-repeat="flatFile in flatFiles" value="{{flatFile.FlatFileParameterId}}">{{flatFile.Location}}</option>
                                </select>
                                <div ng-if="form.FlatFileParameterId.$touched || form.$submitted">
                                    <div ng-messages="form.FlatFileParameterId.$error" role="alert">
                                        <div class="help-block error-text" ng-message="required">* Flat File is required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Query</label>
                                <select class="form-control select" name="QueryId" style="width: 100%;" ng-model="request.QueryId" ng-change="getQuery(request.QueryId);" ng-required="true">
                                    <option selected disabled value="">Select</option>
                                    <option ng-repeat="query in queries" value="{{query.QueryId}}">{{query.Query1}}</option>
                                </select>
                                <div ng-if="form.QueryId.$touched || form.$submitted">
                                    <div ng-messages="form.QueryId.$error" role="alert">
                                        <div class="help-block error-text" ng-message="required">* Query is required.</div>
                                    </div>
                                </div>
                            </div>

                            <div ng-hide="query == null" class="form-group">
                                <div class="col-md-6">
                                    <label for="Description">Description </label>
                                    <div class="form-group">
                                        <textarea name="Description" ng-model="query.Description" id="Description" class="form-control" rows="3" required disabled></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="Query">Query </label>
                                    <div class="form-group">
                                        <textarea name="Query" ng-model="query.Query1" id="Query" class="form-control" rows="3" required disabled></textarea>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="param in params" class="form-group">
                                <label for="param">{{param}}</label>
                                <input ng-model="" type="text" class="form-control" id="" name="" placeholder="Enter param" ng-required="true">
                                <div ng-if="">
                                    <div ng-messages="" role="alert">
                                        <div class="help-block error-text" ng-message="required">* Param is required.</div>
                                    </div>
                                </div>
                            </div>
                        <!-- /.box-body -->

                        <div class="box-footer" ng-controller="AlertController">
                            <button type="button" class="btn btn-primary" sweetalert sweet-options="{{sweet.option}}" sweet-on-confirm="$parent.form.$submitted = true; sendRequest(request, form)" sweet-on-cancel="return">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>