   <div ngController="ConfigurationQueriesController">
    <br />
    <div ng-show="message === 1" class="alert alert-success alert-dismissible col-md-10 col-md-offset-1" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="fa fa-check-circle" aria-hidden="true"></span><strong></strong> {{response}}
    </div>
<!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="col-md-10 col-md-offset-1">
        <h1>
          Configuration Queries
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Configuration</a></li>
          <li class="active">Queries</li>
        </ol>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-10 col-md-offset-1">
          <!-- general form elements -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Form</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" ng-submit="sendRequest(request)">
              <div class="box-body">

                <div class="form-group">
                  <label for="typeQueries">Type Queries</label>
                  <select class="form-control select2" name="typeQueries" ng-model="request.typeQueries" style="width: 100%;">
                    <option selected="selected" disabled value="">Select</option>
                    <option ng-repeat="queryType in queriesType" value="{{queryType.QueryTypeId}}">{{queryType.Name}}</option>
                  </select>
                </div>

                <label for="Queries">Query</label>
                <div class="form-group">
                  <textarea name="Queries" ng-model="request.Queries" id="Queries" class="form-control" rows="3"></textarea>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
   <!-- /.content -->
   </div>