   <div ngController="ConfigurationServerSMTPController">
    <br />
    <div ng-show="message === 1" class="alert alert-success alert-dismissible col-md-10 col-md-offset-1" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="fa fa-check-circle" aria-hidden="true"></span><strong></strong> {{response}}
    </div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="col-md-10 col-md-offset-1">
        <h1>
          Configuration Server SMTP
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Configuration</a></li>
          <li class="active">Server SMTP</li>
        </ol>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-10 col-md-offset-1">
          <!-- general form elements -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Form</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" ng-submit="sendRequest(request)">
              <div class="box-body">
                <div class="form-group">
                  <label for="NameServerSMTP">Name Server</label>
                  <input type="text" ng-model="request.NameServerSMTP" class="form-control" id="NameServerSMTP" required="" placeholder="Enter Name Server">
                </div>
                <div class="form-group">
                  <label for="Port">Port</label>
                  <input type="text" ng-model="request.Port" class="form-control" id="Port" required="" placeholder="Enter Port">
                </div>
                <div class="form-group">
                  <label for="UsernameSMTP">Username</label>
                  <input type="text" ng-model="request.UsernameSMTP" class="form-control" required="" id="UsernameSMTP" placeholder="Enter Username">
                </div>
                <div class="form-group">
                  <label for="PasswordSMTP">Password</label>
                  <input type="password" ng-model="request.PasswordSMTP" class="form-control" required="" id="PasswordSMTP" placeholder="Enter Password">
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
   <!-- /.content -->
  </div>