<div ngController="">
    <br />
    <div ng-show="message === 1" class="alert alert-success alert-dismissible col-md-10 col-md-offset-1" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="fa fa-check-circle" aria-hidden="true"></span><strong></strong> {{response}}
    </div>    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="col-md-10 col-md-offset-1">
        <h1>
          Configuration Web Service
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Configuration</a></li>
          <li class="active">Web Services</li>
        </ol>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-10 col-md-offset-1">
          <!-- general form elements -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Form</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" ng-submit="sendRequest(request)">
              <div class="box-body">
                <div class="form-group">
                  <label for="WSEndpoint">Web Service Endpoint</label>
                  <input type="text" class="form-control" id="WSEndpoint" placeholder="Enter Endpoint" ng-model="request.Endpoint">
                </div>
                <div class="form-group">
                  <label for="Username">Usename</label>
                  <input type="text" class="form-control" id="Username" placeholder="Enter Username" ng-model="request.Username">
                </div>
                <div class="form-group">
                  <label for="Password">Password</label>
                  <input type="password" class="form-control" id="Password" placeholder="Enter Password" ng-model="request.Password">
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
</div>