<section class="content-header">
    <div class="col-md-10 col-md-offset-1">
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> Main</li>
            <li>Errors</li>
            <li class="active">403</li>
        </ol>
    </div>
</section>
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> 403</h2>

        <div class="error-content">
            <br /><br />
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Access Denied.</h3>
            <p>
            You don't have permission to access this resource. <br />
            <a ui-sref="main.integrations.calendar"><b>Go to main</b></a> <br />
            </p>
        </div>
    </div>
</section>