<section class="content-header">
    <div class="col-md-10 col-md-offset-1">
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> Main</li>
            <li>Errors</li>
            <li class="active">500</li>
        </ol>
    </div>
</section>
<section class="content">

    <div class="error-page">
        <h2 class="headline text-red">500</h2>

        <div class="error-content">
            <br /><br />
            <h3><i class="fa fa-warning text-red"></i> Oops! Something went wrong.</h3>
            <p>
            We will work on fixing that right away.<br />
            Meanwhile, you may <a ui-sref="main.integrations.calendar">return to main,</a> <br />
            or contact our support team <a href="mailto:support.integration.tool@laureate.net?Subject=Support%20Integration%20Tool"><b>support.integration.tool@laureate.net</b><a>
            </p>
        </div>
    </div>
</section>