  <div class="lockscreen-logo">
    <b>IntegrationTool</b>
  </div>
  <form name="form" role="form" novalidate>
    <div class="box-body col-md-offset-3 col-md-6">
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Enter your username" ng-required="true">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Enter your password" ng-required="true">
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" sweetalert sweet-options="{{sweet.option}}" sweet-on-confirm="$parent.form.$submitted = true; sendRequest(request, form)" sweet-on-cancel="return">Submit</button>
    </div>
    </div>
  </form>